
  
  .hidden {
    display: none;
  }
  
  .omg {
    margin: 0;
    max-width: 750px;
    margin:10vh auto 0 auto;
  }
  
  .omg > div {
    display: inline-block;
  }
  
  #show {
    margin: 0;
      position: relative;
      width: 620px;
    height: 250px;
  }
  
  #show > div {
      position: absolute;
      top: 0; 
      left: 0; 
      right: 0; 
      bottom: 0; 
  }
  
  #show img {
      width: 100%;
    margin: 0;
    border: solid 1px #283593;
  }
  
  